@charset "UTF-8";

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	src: local('Noto Sans Regular'), local('NotoSans-Regular'), url('/fonts/notosans-regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	src: local('Source Code Pro'), local('SourceCodePro-Regular'), url('/fonts/sourcecodepro-regular.woff2') format('woff2');
}

body {
	font-family: 'Noto Sans', sans-serif;
	line-height: 1.4;
	background-color: #111;
	font-size: 16px;
	color: #EEE;
	padding: 0;
	max-width: 800px;
	margin: 50px auto;
}

h1 {
	line-height: 1.2;
	font-size: 1.8em;
}

h1.title {
	font-size: 2em;

	a {
		text-decoration: none;
		color: #EEE;
	}
}

.posts {
	list-style-type: none;
	padding: 0;
}

span.postmeta {
	line-height: 0.6;
}

p > code {
	background-color: #333;
}

code {
	font-family: 'Source Code Pro', monospace;
	background-color: transparent;
}

pre.highlight {
	padding: 16px 16px;
	overflow-x: auto;
}

.highlight {
	background-color: #000;
	margin: 0 0;
	color: #f8f8f2;
	box-shadow: inset 0px 0px 10px 10px #111;
}

.cimage {
	margin: 0 auto;
	display: block;
}

footer {
	font-size: 0.8em;
	font-style: italic;
}

.twitter-tweet {
	margin: 0 auto;
	display: block;
	background: #222;
	border-radius: 16px;
	padding: 4px 16px 16px 16px;
}

iframe {
	margin: 0 auto;
	display: block;
}

video {
	margin: 0 auto;
	display: block;
}

.post-comment {
	float: right;
}

@media (min-width: 800px) {
	img {
		padding: 15px;
	}
}

@media (max-width: 800px) {
	body {
		margin: 15px auto;
		padding: 10px;
	}
	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		float: none;
	}
	video, iframe{
		max-width: 100%;
	}
}
@import "./highlight.scss";