---
layout: compress
---
<!DOCTYPE html>
<html lang=en>
<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8">
	{% asset main.css %}
	<meta name=viewport content="width=device-width, initial-scale=1">
	{% feed_meta %}
</head>
<body>

<h1 class="title"><a href="/{{ site.baseurl }}">{{ site.title }}</a></h1>

{{ content }}

<br/>
<footer>
	<a href="/privacy-policy.html">Privacy Policy</a>
	<br/>
	This site can be edited on <a href="https://gitlab.com/Thinkofname/thinkof.name/">Gitlab</a>
</footer>
</body>
</html>