---
layout: default
---

<h1>{{ page.title }}</h1>

{{ content }}

{% unless page.comments == null %}
<div id="comments">
	<a href="https://gitlab.com/Thinkofname/thinkof.name/issues/{{ page.comments }}"><span class="post-comment">Post a comment here</span></a>
</div>
{% endunless %}